.icon {
    position: absolute;
    margin: 7px 0 0 15px;
}

.input {
    border-radius: 30px;
    background-color: #D9D9D96E;
    height: 30px;
    width: 100%;
    font-weight: 100;
    font-size: 20px;
    border-color: transparent;
    padding: 18px 18px 18px 50px;
    border: 1px solid transparent;
}

.input::placeholder {
    color: rgb(194, 194, 194)
}

.input:focus {
    outline: none;
    border:solid 1px white;
}